@font-face
{
    font-family: molot;
    src: url(Molot.otf);
}
body
{
    color: white;
    background-color: black;
    background-image: url("https://gdurl.com/p5so");
    background-size: 100%;
    background-position: 0% 50%;
    background-attachment: fixed;
    text-align: center;
}

h1
{
    color: white;
}


p
{
    color: white;
    font-family: molot;
    font-size: 20px;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0 10%;
    overflow: hidden;
    background-color: #000;
    width: 100%;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    font-family: molot;
    font-size: 27px;
}

.ul1
{
    position: fixed;
    top: 0;
    padding: 0px 10%;
    width: 100%;
    left: 0px;
}

li
{
    float: right;
}
.li1
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 34px;
    text-decoration: none;
}
li a, #navbar, li a:before, #navbar:before, #navbar:after,li a:after {
    transition: all .5s;
}
.stroke li a, #navbar {
  position: relative;
}
.stroke li a:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: white;
  background: white;
  height: 1px;
}
#navbar:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: white;
  background: white;
  height: 1px;
}
.stroke li a:hover:after, #navbar:hover:after {
  width: 66%;
}
.a1
{
    color: white;
}


li a:hover:not(.active)
{
  background-color: #000;
}

.active
{
  background-color: #000;
  font-size: 27px;
}

div
{
    text-align: center;
    padding: 0px;
    position: relative;
    top: 130px;
    left: 30px;
}

div.gallery {
  margin: 5px;
  border: 0px solid #ccc;
  float: left;
  width: 385px;
}

div.gallery:hover {
  border: 0px solid #777;
  /*would be nice to have a hover function that opens between molotov + models the picture between*/
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 0px;
  text-align: center;
}
